APP_NAME=Sistema de Conciliacion Cointra
SECRET_KEY=cambia_esta_clave_super_secreta
ACCESS_TOKEN_EXPIRE_MINUTES=480
DATABASE_URL=sqlite:///./cointra.db
CORS_ORIGINS=http://localhost:5173

# Notificaciones por correo
SMTP_ENABLED=false
SMTP_HOST=
SMTP_PORT=
SMTP_USER=correo@correo.com.co
SMTP_PASSWORD=CAMBIAR_POR_CLAVE_APP_O_SMTP
SMTP_USE_TLS=true
SMTP_USE_SSL=false
MAIL_FROM=correo@correo.com.co
