APP_NAME=Sistema de Conciliacion Cointra
SECRET_KEY=cambia_esta_clave_super_secreta
ACCESS_TOKEN_EXPIRE_MINUTES=480
DATABASE_URL=sqlite:///./cointra.db
CORS_ORIGINS=http://localhost:5173

# Notificaciones por correo
SMTP_ENABLED=false
SMTP_HOST=
SMTP_PORT=
SMTP_USER=correo@correo.com.co
SMTP_PASSWORD=CAMBIAR_POR_CLAVE_APP_O_SMTP
SMTP_USE_TLS=true
SMTP_USE_SSL=false
MAIL_FROM=correo@correo.com.co

# Integracion Avansat
AVANSAT_ENABLED=false
AVANSAT_URL=https://oet-avansat5.intrared.net:8083/ap/interf/app/APIAvansat/v1/index.php
AVANSAT_AUTH_HEADER=
AVANSAT_APLICACION=sate_cointr
AVANSAT_TYPE=operacionnacional
AVANSAT_USER=
AVANSAT_PASS=
AVANSAT_VERIFY_SSL=false
AVANSAT_TIMEOUT_SECONDS=8
AVANSAT_CACHE_TTL_SECONDS=900
AVANSAT_MAX_WORKERS=12
AVANSAT_DB_CACHE_MAX_AGE_MINUTES=180
